{% extends 'index.html' %}
 <div class="container">
 
{% block page-content %}
<div class="jumbotron">

<p> 删除选中帖子 </p>
<br>

<div class="jumbotron">

<form action ='/tiezi_mgr/' name='selectedtiezi' method='POST' >
	{% for tiezi in tiezi_list %}
		<input type="checkbox" name="selectedtiezi" value="deleted_{{tiezi.id}}" /> {{ tiezi.title }}
		<br />
	{% endfor %}
<input type="submit" value="删除帖子(不可恢复)" /> 
</form> 


<!-- {% for tiezi in tiezi_list reversed%}
	<a href = "/detail/{{tiezi.id}}/" > {{ tiezi.title }} <br> </a> 
	{{ tiezi.author }} 
	{{tiezi.created_date|date:"Y-m-d H:i:s" }}
	<hr>
{% endfor %}
</div>

<p> 小黑屋管理 <p>
<div class="jumbotron">
 -->

<form action ='/block_mgr/' name='selectedblock' method='POST' >
	{% for block in block_list %}
		<input type="checkbox" name="selectedblock" value="blocked_{{block.id}}" /> {{block.user.username }}
		<br />
	{% endfor %}
<input type="submit" value="放出小黑屋" /> 
</form> 



</div>

{% endblock %}
