<html>
<title>
	running regressions! 
</title>
<body>
	<h2> you have submitted regression with below information: </h2>
	<p> when finished, click below link to show the result </p>
	<p> <a href="http://localhost:8000/"> show regression result </a></p>
	<hr>
	<ul>
		<li> golden simulator: <strong> {{golden_simulator}}</strong> </li>
		<li> golden binary :   <strong> {{golden_binary}}</strong></li>
		<li> target simulator: <strong> {{target_simulator}}</strong></li>
		<li> target binary :   <strong> {{target_binary}}</strong></li>

		<li>binary date: <strong> {{rundate}}</strong></li>
		<li>regression list: <strong>{{caselist}}</strong></li>
	</ul>	
</body>
<html>